@use "../../assets/sass/_variables" as *;
@use "../../assets/sass/_typography" as *;

.btn {
  text-align: center;
  width: 14rem;
  font-family: $font-secondary;
  padding: 0.5rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
  background: rgba(109, 109, 109, 0.219);
  border: 3px solid black;
  cursor: pointer;
  transition: ease-out 0.5s;

  &:hover {
    background-color: white;
    color: black;
  }
}
