.skills {
  height: 100%;
  color: white;

  &__heading {
    font-size: 1rem;
    color: #e2e8f0;

    &::before {
      content: "03 -";
      margin-right: 0.2rem;

      width: 2rem;
      font-size: 0.8rem;
    }
  }

  &__list {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0.5rem;
  }

  &__item {
    background-color: rgb(37, 37, 37);

    padding: 0.4rem;
    border-radius: 0.15rem;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .skills {
    &__heading {
    }
    &__list {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: 60px, 20px;
    }
  }
}
