@use "../../assets/sass/_variables" as *;
@use "../../assets/sass/_typography" as *;

.project {
  padding: 1rem;
  height: 30rem;
  border-radius: 1rem;
  margin: 0 auto;
  background-color: rgb(204, 230, 255);

  &__img {
    width: 100px;
  }

  &__stack {
    padding-right: 5px;
    border: 2px solid black;
  }
}
