@use "../../assets/sass/_variables" as *;
@use "../../assets/sass/_typography" as *;

.header {
  display: flex;
  flex-direction: column;
  padding: 4rem 0 0;
  height: 100vh;
  position: relative;

  &__heading {
    color: rgb(255, 255, 255);
    letter-spacing: 0.1rem;
    line-height: 1.25;
    font-weight: 400;
    font-family: $font-secondary;

    &--small {
      font-size: 1.4rem;
      color: rgba(148, 148, 149);
    }
  }

  &__subheading {
    margin-top: 1rem;

    font-family: $font-primary;
    font-size: 0.85rem;
    line-height: 2;
    color: rgba(148, 148, 148);
  }

  &__link {
    color: #fff;
    padding: 0 0.2rem;
  }

  &__scroll-to {
    color: rgb(148, 148, 148);
    position: absolute;
    bottom: 2rem;
    left: calc(50% - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.7rem;

    &--arrow {
      margin-left: 0.3rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 50%;
    float: left;
    position: fixed;

    &__heading {
      font-size: 3rem;

      &--small {
        font-size: 2.5rem;
      }
    }

    &__subheading {
      width: 90%;
      margin-top: 3rem;
      font-size: 1rem;
      // line-height: 2.5;
    }

    &__link:hover {
      color: rgba(148, 148, 148);
    }

    &__profile {
      position: absolute;
      bottom: 3rem;
    }

    &__scroll-to {
      display: none;
    }
  }
}

@media screen and (min-width: 360px) {
  .header {
    height: 70vh;
  }
}
