@use "../../assets/sass/_variables" as *;
@use "../../assets/sass/_typography" as *;

.header {
  display: flex;
  flex-direction: column;

  padding: 10rem 2rem;
  gap: 2rem;
  height: calc(100vh - 6em);
  width: calc(100%);

  &__heading {
    font-size: 3.5rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    letter-spacing: 0.2rem;
  }

  &__subheading {
    font-family: $font-primary;
    font-style: italic;
    font-size: 1.4rem;
    color: rgb(195, 195, 195);
  }
}
