.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: block;

    &__list {
      list-style: none;
    }

    &__item {
      margin-top: 1rem;
      display: block;
      transition: 0.3s;

      &:hover {
        transform: skewX(10deg);
      }
    }

    &__link {
      color: rgb(214, 214, 214);
      cursor: pointer;

      &:hover {
        color: aquamarine;
      }
    }

    &__tracking {
      font-size: 0.8rem;
    }

    &__text {
      transition: 0.3s;
      &::before {
        content: "";
        width: 0.8rem;
        margin: 0 3px 4px;
        display: inline-block;
        border-bottom: 1px solid;
      }
    }
  }
}
