.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__list {
    list-style: none;
  }

  &__item {
    margin-top: 1rem;
  }

  &__link {
    color: #949495;
    cursor: pointer;
  }

  &__tracking {
  }

  &__line {
    display: inline-block;
    height: 1rem;
    width: 1.2rem;
    color: white;
    border-bottom: 1px solid #949495;
    margin: 4px;
    transition: 0.3s;

    &:hover {
      width: 2rem;
    }
  }

  &__text {
  }
}

//  color: #e2e8f0;
