@use "../../assets/sass/variables" as *;

.portfolio {
  height: 100vh;

  &__heading {
    font-size: 2rem;
    color: rgb(0, 0, 0);
  }

  &__container {
    display: grid;
    justify-content: center;
    gap: 1rem;
  }
}
