@use "../../assets/sass/variables" as *;

section {
  padding: 2em;
  // width: 100%;
  height: 100vh;
  background-color: $color-secondary;

  h1 {
    font-size: 2rem;
    margin: 0.4em auto;
    line-height: 100%;
    color: rgb(255, 255, 255);
  }
}
